# Log level
LOG_LEVEL=INFO
# API port
API_PORT=8010
API_HOST="0.0.0.0" # API host
# Notification service URL for webhook notifications
NTFY_URL=https://ntfy.test.com/
# NTFY Topic for webhook notifications
NTFY_TOPIC=remesasya

# CRONJOBS
# Lista separada por comas de las monedas fiat extra
BINANCE_EXTRA_FIATS=ARS
# Expresión Cron genérica para las monedas extra (ej: cada 3 horas)
BINANCE_EXTRA_CRON="0 */3 * * *"
# Ejemplo: Cada 30 minutos todos los días para el par nativo
BINANCE_VES_CRON="25 8 * * *"
BINANCE_PEN_CRON="26 8 * * *"
# Ejecuta todos los días a las 12:00 AM (Medianoche)
BCV_CRON="0 0 * * *"

# SECURITY
SECRET_KEY=somesecurekey
SECURITY_PASSWORD_SALT=somesecuresalt
JWT_SECRET_KEY=somesecuresecretkey